<table mat-table [dataSource]="listIndustries$ | async" class="mat-elevation-z8 industry-table">
  <!-- Name Column -->
  <ng-container matColumnDef="industryCode">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.industryCode}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="roa">
    <th mat-header-cell *matHeaderCellDef> ROA </th>
    <td mat-cell *matCellDef="let element"> {{element.roa}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="roe">
    <th mat-header-cell *matHeaderCellDef> ROE </th>
    <td mat-cell *matCellDef="let element"> {{element.roe}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickIndustryTable(row)"></tr>
</table>
