<nb-layout>
  <nb-layout-header fixed>
    <nb-search type="rotate-layout"></nb-search>
  </nb-layout-header>
  <nb-layout-column>
    <div style="width: 100%; height: 100%;" class="row">
      <div class="col-3" style="position: relative">
        <app-small-chart style="position: fixed;"></app-small-chart>
        <app-industry-detail style="position: fixed; top: 350px; width: 23%"></app-industry-detail>
      </div>
      <div class="col-7">
        <app-industry-table></app-industry-table>
      </div>
      <div class="col">
        <app-news-list></app-news-list>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

