<div class="industry-detail-container">
  <nb-card accent="info">
    <nb-card-header>Chỉ số ngành</nb-card-header>
    <nb-card-body>
      <div class="information-item">
        <span>Tham chiếu:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>Mở cửa:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>TN /CN:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>Khối Lượng:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>KLTB 13 tuần:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>KLTB 10 ngày:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>CN 52 tuần:</span>
        <span>Giá trị</span>
      </div>
      <div class="information-item">
        <span>TN 52 tuần:</span>
        <span>Giá trị</span>
      </div>
    </nb-card-body>
  </nb-card>
</div>
